<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>

<body>
    <form action="http://127.0.0.1:8002/logIn">
        <input type="submit" value="Log In">
    </form>
    <form action="http://127.0.0.1:8002/logOut">
        <input type="submit" value="Log Out">
    </form>
    <br>
    <form action="http://127.0.0.1:8002/charge" method='post'>
        How much do you want to invest <br>
        <input type="number" required="required" name="cake"> <br>
        <input type="submit" value="POST">
    </form>
</body>

</html>
