<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>

<body>
    <form action="http://127.0.0.1:8001/logIn">
        <input type="submit" value="Log In">
    </form>
    <form action="http://127.0.0.1:8001/logOut">
        <input type="submit" value="Log Out">
    </form>
    <br>
<!--    <input type="button" value="Log In" src="http://127.0.0.1:8001/auth"> <input type="button" value="Log Out" src="http://127.0.0.1:8001/unauth"> <br>-->
    <form action="http://localhost:8001/charge" method='post'>
        How much do you want to invest <br>
        <input type="number" name="cake"> <br>
        <input type="submit" value="POST">
    </form>
</body>

</html>